.mat-dialog-content {
    display: table-footer-group;
    margin: 0 -24px;
    padding: 0 24px;
    max-height: 65vh;
    overflow: auto;
}

.mat-checkbox-label{
    padding-top: 7% !important;
}

#dialog-buttons{
    float: right;
    height: 47px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 7px;
    margin-right: 5px;
}

#participants-list{
    margin-top: 10px;
    min-height: 17em;
    overflow: auto;
    height: 75%;
}