<!-- <a (click)="openChannel(user.email)">
  <div class="userItem" >
    <span class="status" [ngClass]=(user.status)></span>
    <span class="userName">
      {{user.displayName}}
    </span>
  </div>
</a> -->

<a (click)="openPrivateChannel(user)">
  <div class="userItem" >
    <div class="row">
      <div class="col" style="width: fit-content;">
        <span class="status" [ngClass]=(user.status)></span>
        <span class="userName">
          {{user.username}}
        </span>
      </div>
      <div *ngIf="newMessage" class="col" style="max-width: fit-content; float: right; color:red;">
          <mat-icon>message</mat-icon>
      </div>
    </div>
  </div>
</a>